In [8]:
# Data Wrangling
# MBA em Data Science e Analytics USP/ESALQ

# Prof. Dr. Wilson Tarantin Junior

# Atividade nº 5 - Datasets de filmes e séries

# Os datasets contêm avaliações de filmes e séries disponíveis em streamings
# Fonte: https://www.kaggle.com/datasets/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney

In [9]:
# Instalando os pacotes

# !pip install pandas

In [10]:
# Carregando os pacotes
import pandas as pd

In [11]:
# Carregando os datasets

dados_filmes = pd.read_csv('(5.2) Filmes Streaming.csv', sep=',')
dados_series = pd.read_csv('(5.3) Séries Streaming.csv', sep=',')

dados_filmes.info()
dados_series.info()

dados_filmes

dados_series

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   IMDb             9309 non-null   object
 6   Rotten Tomatoes  9508 non-null   object
 7   Netflix          9515 non-null   int64
 8   Hulu             9515 non-null   int64
 9   Prime Video      9515 non-null   int64
 10  Disney+          9515 non-null   int64
 11  Type             9515 non-null   int64
 12  Directors        9104 non-null   object
 13  Genres           9399 non-null   object
 14  Country          9261 non-null   object
 15  Language         9185 non-null   object
 16  Runtime          9196 non-null   float64
dtypes: float64(1), int64(8), object(8)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [12]:
# Selecionado colunas e realizando a junção dos bancos de dados

# Os dois datasets têm estruturas semelhantes quanto às variáveis
# Porém, o dataset sobre filmes tem colunas a mais
# Vamos fazer uma rápida organização dos datasets e juntá-los

# Seleção das variáveis de interesse
dados_filmes = dados_filmes.iloc[:,0:12]

# Junção dos dados
dados_completo = pd.concat([dados_filmes, dados_series], ignore_index=True)

# Remoção de variável
dados_completo.drop(columns=['Unnamed: 0'], inplace=True)

dados_completo

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0
1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0
4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14878,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
14879,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
14880,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
14881,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
14882,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [13]:
# Extrair as notas do texto

# Extrair as notas
dados_completo['Ajuste_IMDB'] = dados_completo['IMDb'].str.slice(0, 4)
dados_completo['Ajuste_Rotten'] = dados_completo['Rotten Tomatoes'].str.slice(0, 3)

# Ajustar a string e transformar para float
dados_completo['Ajuste_IMDB'] = dados_completo['Ajuste_IMDB'].str.rstrip('/').astype('float')
dados_completo['Ajuste_Rotten'] = dados_completo['Ajuste_Rotten'].str.rstrip('/').astype('float')

# A função str.rstrip() remove o caractere ao final da string

dados_completo

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Ajuste_IMDB,Ajuste_Rotten
0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,7.8,98.0
1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,8.4,97.0
2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,9.0,95.0
3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,8.1,94.0
4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,7.7,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14878,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14879,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14880,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14881,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0
14882,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1,NaN,10.0

In [14]:
# Gerando estatísticas sobre as notas

# Atribuindo labels
muda_numeros = {0: 'filme', 1: 'série'}
dados_completo = dados_completo.assign(tipo = dados_completo.Type.map(muda_numeros))

# Agrupando o dataset
descritivas = dados_completo.groupby(['tipo'])

# Gerando estatísticas por variável
descritivas['Ajuste_IMDB'].describe().T
descritivas['Ajuste_Rotten'].describe().T

tipo         filme        série
count  9508.000000  5368.000000
mean     53.545015    47.220380
std      13.197673    19.555753
min      10.000000    10.000000
25%      44.000000    36.000000
50%      52.000000    48.000000
75%      62.000000    60.000000
max      98.000000   100.000000

In [15]:
# Criando um indicador dos "melhores" filmes e séries

# Separando o banco de dados
melhores_series = dados_completo[dados_completo['tipo']=='série']
melhores_filmes = dados_completo[dados_completo['tipo']=='filme']

In [16]:
# Séries

# Vamos identificar aqueles que estão com melhores notas nas duas avaliações
# Vamos usar o percentil 95 das notas como referência
melhores_series[['Ajuste_IMDB', 'Ajuste_Rotten']].quantile(0.95)

# Gerando os dados

melhores_series = melhores_series.assign(Categ_IMDB = pd.qcut(melhores_series.Ajuste_IMDB,
                                                              q=[0, 0.95, 1.0],
                                                              labels=['menores',
                                                                      'maiores']))

melhores_series = melhores_series.assign(Categ_Rotten = pd.qcut(melhores_series.Ajuste_Rotten,
                                                                q=[0, 0.95, 1.0],
                                                                labels=['menores',
                                                                        'maiores']))

melhores_series = melhores_series[(melhores_series['Categ_IMDB']=='maiores') &
                                  (melhores_series['Categ_Rotten']=='maiores')].sort_values(['Ajuste_Rotten', 'Ajuste_IMDB'], ascending=False)


melhores_series

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Ajuste_IMDB,Ajuste_Rotten,tipo,Categ_IMDB,Categ_Rotten
9515,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1,9.4,100.0,série,maiores,maiores
11465,1960,Rick and Morty,2013,18+,9.2/10,100/100,0,1,0,0,1,9.2,100.0,série,maiores,maiores
9516,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1,8.7,96.0,série,maiores,maiores
9517,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1,9.0,95.0,série,maiores,maiores
9518,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1,8.8,94.0,série,maiores,maiores
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11529,2040,Peep Show,2003,18+,8.6/10,81/100,0,1,1,0,1,8.6,81.0,série,maiores,maiores
11541,2057,Cowboy Bebop,1998,16+,8.9/10,80/100,0,1,0,0,1,8.9,80.0,série,maiores,maiores
9630,116,Anne with an E,2017,all,8.7/10,80/100,1,0,0,0,1,8.7,80.0,série,maiores,maiores
9624,110,Sacred Games,2018,18+,8.6/10,80/100,1,0,0,0,1,8.6,80.0,série,maiores,maiores
12993,3634,Endeavour,2013,16+,8.6/10,80/100,0,0,1,0,1,8.6,80.0,série,maiores,maiores

In [17]:
# Filmes

# Vamos identificar aqueles que estão com melhores notas nas duas avaliações
# Vamos usar o percentil 95 das notas como referência
melhores_filmes[['Ajuste_IMDB', 'Ajuste_Rotten']].quantile(0.95)

# Gerando os dados

melhores_filmes = melhores_filmes.assign(Categ_IMDB = pd.qcut(melhores_filmes.Ajuste_IMDB,
                                                              q=[0, 0.95, 1.0],
                                                              labels=['menores',
                                                                      'maiores']))

melhores_filmes = melhores_filmes.assign(Categ_Rotten = pd.qcut(melhores_filmes.Ajuste_Rotten,
                                                                q=[0, 0.95, 1.0],
                                                                labels=['menores',
                                                                        'maiores']))

melhores_filmes = melhores_filmes[(melhores_filmes['Categ_IMDB']=='maiores') &
                                  (melhores_filmes['Categ_Rotten']=='maiores')].sort_values(['Ajuste_IMDB', 'Ajuste_Rotten'], ascending=False)


melhores_filmes

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Ajuste_IMDB,Ajuste_Rotten,tipo,Categ_IMDB,Categ_Rotten
2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,9.0,95.0,filme,maiores,maiores
3695,3696,The Dark Knight,2008,13+,9.0/10,94/100,0,1,0,0,0,9.0,94.0,filme,maiores,maiores
4703,4704,Fight Club,1999,18+,8.8/10,93/100,0,0,1,0,0,8.8,93.0,filme,maiores,maiores
138,139,Bo Burnham: Inside,2021,18+,8.8/10,81/100,1,0,0,0,0,8.8,81.0,filme,maiores,maiores
8619,8620,Star Wars: The Empire Strikes Back,1980,7+,8.7/10,89/100,0,0,0,1,0,8.7,89.0,filme,maiores,maiores
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4736,4737,The Wrestler,2008,18+,7.9/10,81/100,0,0,1,0,0,7.9,81.0,filme,maiores,maiores
8678,8679,Fantastic Mr. Fox,2009,7+,7.9/10,81/100,0,0,0,1,0,7.9,81.0,filme,maiores,maiores
167,168,Hunt for the Wilderpeople,2016,13+,7.9/10,80/100,1,1,0,0,0,7.9,80.0,filme,maiores,maiores
8688,8689,Isle of Dogs,2018,13+,7.9/10,80/100,0,0,0,1,0,7.9,80.0,filme,maiores,maiores
170,171,The Artist,2011,13+,7.9/10,79/100,1,1,0,0,0,7.9,79.0,filme,maiores,maiores

In [18]:
# FIM!